{% extends 'base.html' %}

{% block page %}

<div class="container text-center">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
       
<div class="jumbotron">
    <h6>Score: <span class="badge badge-info">2</span></h6>
    <h6>Skips: <span class="badge badge-info">0</span></h6>
    <div class="card d-flex text-center card-main">
        <img src="https://static.wikia.nocookie.net/bigbangtheory/images/5/57/Aws82.png" class="img-char" alt="Responsive image" width="auto">
        <div class="card-body text-center">
        </div>
      </div>
    <p class="lead">
<!-- Default radio -->
<div class="form-check btn btn-secondary btn-md answer-radio">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault1"> Monalisa </label>
  </div>
  
  
  <!-- Default checked radio -->
  <div class="form-check btn btn-success btn-md answer-radio">
    <input
      class="form-check-input"
      type="radio"
      name="z"
      id="flexRadioDefault2"
    />
    <label class="form-check-label" for="flexRadioDefault2"><i class="bi bi-emoji-smile-fill"></i> Mary Copper </label>
  </div>
        
  <!-- Default checked radio -->
  <div class="form-check btn btn-danger btn-md answer-radio">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault3"
    />
    <label class="form-check-label" for="flexRadioDefault3"><i class="bi bi-emoji-frown-fill"></i> Angelina Carter </label>
    
  </div>
<br>
    </p>
    <hr class="my-4">
    <p>
       
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Confirm Answer</a>
  </div>
</div>

</div>
</div>
{% endblock %}

